*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-image: url(img/Breakfast.jpg);
    background-size: cover;
    display: flex;
}

aside {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.preto{
    background-color: #191919;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 54px;
    margin-top: 2vh;
    
}

h1{
    font-size: 32px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    margin-bottom: 12vh;
}

.amarelo{
    background-color: #FFB800;
    width: 100%;
    height: 40%; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.twitter{
    width: 64px;
    margin-bottom: 2vh;
}

.facebook{
    width: 64px;
    margin-bottom: 2vh;
}

.instagram{
    width: 64px;
    margin-bottom: 2vh;
}

main{
    display: flex;
    flex-direction: column;
}

.centro{
    background-color: #191919bf;
    width: 840px;
    height: 68vh;
}

header{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.talheres{
    width: 104px;
    height: 104px;
}

p{
    color: white;
    font-size: 36px;
    
}

section{
    display: flex;
}

.section1{
    background-color: white;
    width: 620px;
    height: 32vh;
}

.section2{
    background-image: url(img/Panquecas.png);
    background-size: cover;
    width: 540px;
    height: 32vh;
    border: none;
    filter: blur(2px);
}

.perfil{
    position: absolute;
    width: 300px;
    height: 60px;
    top: 50px;
    right: 0px;
    background-color: #FFB800;
    border: none;
    padding: 10px 20px;
}

.explore{
    background-color: #FFB800;
    position: absolute;
    width: 280px;
    height: 80px;
    top: 490px;
    left: 800px;
}