*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-image: url(img/Breakfast.jpg);
    background-size: cover;
    display: flex;
}

aside {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.preto{
    background-color: #191919;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 54px;
    margin-top: 2vh;
    
}

.sidetext{
    font-size: 32px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    margin-bottom: 12vh;
}

.amarelo{
    background-color: #FFB800;
    width: 100%;
    height: 40%; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.twitter{
    width: 64px;
    margin-bottom: 2vh;
}

.facebook{
    width: 64px;
    margin-bottom: 2vh;
}

.instagram{
    width: 64px;
    margin-bottom: 2vh;
}

main{
    display: flex;
    flex-direction: column;
}

.centro{
    background-color: #191919bf;
    width: 840px;
    height: 66vh;
}

header{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.talheres{
    width: 104px;
    height: 104px;
}

p{
    color: white;
    font-size: 36px;
    cursor: pointer;
}

.text{
    padding-left: 104px;
    padding-top: 44px;
}

h1{
    color: white;
    font-size: 82px;
    font-weight: bolder;
}

h2{
    color: #727272;
    font-size: 28px;
    padding-right: 80px;
    font-weight: lighter;
}

.explore{
    background-color: #FFB800;
    position: absolute;
    width: 280px;
    height: 80px;
    top: 494px;
    left: 800px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
}

.section1{
    background-color: white;
    width: 620px;
    height: 34vh;
}

.content{
    padding-top: 22px;
    padding-left: 32px;
}

h3{
    font-size: 42px;
    font-weight: bolder;
}

h4{
    padding-top: 8px;
    font-size: 28px;
    font-weight: lighter;
}

.lista{
    padding-top: 8px;
}

h5{
    font-size: 30px;
    font-weight: bolder;
}

footer{
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}

h6{
    font-size: 22px;
    font-weight: normal;
    padding-right: 6px;
}

.seta{
    width: 36px;
    height: 36px;
}

.section2{
    width: 540px;
    height: 34vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(2px);
}

.play{
    position: absolute;
    width: 88px;
    height: 88px;
    filter: blur(0px);
}

.perfil{
    position: absolute;
    width: 300px;
    height: 60px;
    top: 50px;
    right: 0px;
    background-color: #FFB800;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 34px;
    padding-right: 34px;
    cursor: pointer;
}

.usuario{
    width: 50px;
    height: 50px;
}

.login{
    color: white;
    font-size: 32px;
}